.footer {
  color: #fff;
  background-color: #630031!important;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
}

.navbar-brand,.nav-link{
  color: #fff !important;
  font-size: 30px;
}
.notfound {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body{
  background-image:url("./background.jpg")
}
.space{
  padding-top: 50px;
}

.navbar{
  width: 100vw;
}