$primary:#630031;
.options {
  float: right;
}
.entry-card {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  align-self: auto;
}
.entry {
  margin: 20px;
  min-height: 1%;
}
.entry-card p {
  display: inline-block;
}
.entries-list{
  overflow: auto;
  height: 75vh;
}
.entry-header{
  color: #ffffff;
  background-color: #630031;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
.ql-editor{
  background-color: #ffffff;
  min-height: 4cm;
  overflow: auto;
  max-height: 20cm
}
